
.vertical-text {
    padding: 0 4px;
    height: auto;
}

        /*padding: 0; margin: 0;*/
        /*box-sizing: border-box;*/
        /*font-family:"微軟正黑體";*/
            
            *{
                background-color: #1a1919;
                padding: 0; margin: 0;
                box-sizing: border-box;
                font-family:"微軟正黑體";
            }

            h1 {
                color: rgb(115, 132, 226); /*顏色*/
                font-size: 3em; /*字體大小*/
                letter-spacing: 15px; /*字體間距*/
                line-height: 1.5; /*行高。通常會用數字代表正常高的倍數 */
                font-weight: 500; /*字體粗細，數字最大 900，越大越重，預設*/
                /*text-decoration: underline; 底線，最長是用 none 來把超連結醜醜的底線移除*/
                /*font-style: italic; 斜體*/
                opacity: 0.5; /*不透明度*/
                text-align: center; /*文字對齊方向*/
                font-family: arial, sans-serif; /*字體，如果第一個沒有就依序往後*/
            }
            table{
                border-collapse: collapse;
                width: 15px;
        
            }
            th,td {
                border: 1px solid rgb(243, 243, 243);
                color: rgb(243, 243, 243);
                padding: 15px;
                text-align: center; 
            }
